.app-header {
  background: var(--accent);
  color: white;
  margin-bottom: 1rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: underline;
  }
}

.footer {
  text-align: center;
  padding: 1rem 0;
  color: var(--muted);
}
